p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}

#btn_to_demo {
	position: absolute;
	top: 65%;
	left:0;
	right: 0;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	letter-spacing: 3px;
	line-height: 30px;
	text-align: center;
	margin: auto;
	display: inline-block;
	text-transform: uppercase;
}
#btn_to_demo:hover, #btn_to_demo:focus {
	color: #fff;
}

/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #6c7279;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
 .no-gutter [class*=col-] {
 padding-right: 0;
 padding-left: 0;
}

/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/
.banner-area {
	position: relative;
}
.banner-area-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background: rgb(27,19,19);
}
.banner-text {
	position: static;
	padding-top: 25%;
	padding-bottom: 35%;
}
.banner-text h1 {
	margin-top:10%;
	color: #fff;
	font-family: "Dosis", sans-serif;
	font-weight: 100;
	letter-spacing:21px;
	font-size:19px;
	text-transform: uppercase;
}
.banner-text p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing:3px;
	margin-bottom: 5%;
}

/* ------------------------------------------------------------------------------
	Countdown
-------------------------------------------------------------------------------*/

#countdown {
	padding:0;
	position:relative;
	margin-top:5%;
	margin-bottom:5%;
}
.item {
	display: inline-block;
	position: relative;
	text-align:center;
	margin:0 10px;
	padding:2%;
	text-transform:uppercase;
	font-size:13px;
	border-top:1px solid rgba(255, 255, 255, 0.1);
	border-bottom:1px solid rgba(255, 255, 255, 0.1);
}
.item p {
	font-family: "Dosis", sans-serif;
	text-align:center;
	margin:0;
	font-size:27px;
	padding:0;
}

/* ------------------------------------------------------------------------------
	Introduction
-------------------------------------------------------------------------------*/

.intro-content {
	margin-top: 100px;
}

/* ------------------------------------------------------------------------------
	Subscribe
-------------------------------------------------------------------------------*/

.subscribe {
	width: 100%;
	background-color: #eee;
	background-image: url('../images/backgrounds/parallax-bg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
.subscribe >.container {
	padding-top: 80px;
	padding-bottom: 80px;
}
.subscribe-title h2 {
	font-family:"Dosis", sans-serif;
	font-weight: 600;
	font-size: 23px;
	color: #fff;
	letter-spacing:3px;
	margin:0 3%;
	line-height:70px;
	text-transform:uppercase;
}
.subscribe-form {
	margin-top: 6px;
}
.subscribe-form input[type=text] {
	width: 65%;
	height: 60px;
	display: block;
	padding: 0 20px;
	background-color: #fff;
	border: 1px solid #fff;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	line-height: 60px;
	letter-spacing:1px;
	font-size:15px;
	font-weight:300;
	float: left;
}
.subscribe-form input:focus {
	outline: 0;
}
.subscribe-form input[type=submit] {
	width: 35%;
	height: 60px;
	display: block;
	padding: 0 10px;
	background-color: #fc6e51;
	border: 1px solid #fc6e51;
	color: #fff;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	transition: all 0.125s ease-in-out 0s;
	-moz-transition: all 0.125s ease-in-out 0s;
	-webkit-transition: all 0.125s ease-in-out 0s;
	-o-transition: all 0.125s ease-in-out 0s;
	-ms-transition: all 0.125s ease-in-out 0s;
	float: right;
}
.subscribe-form input[type=submit]:hover {
	background-color: #e85a3d;
	border: 1px solid #e85a3d;
	color: #fff;
}

.error_message {
	color:#fc6e51;
	padding-bottom:15px;
	font-size:13px;
	line-height:30px;
}

#success_page {
	color:#9ce726;
	padding-bottom:10px;
	font-size:12px;
}
#success_page h3 {
	font-size:17px;
	font-weight:400px;
	color:#4ab217;
}
#success_page p {
	font-size:12px;
	font-weight:400px;
	color:#b3b3b3;
}


.section_title {
	margin: 200px 0 100px 0;
}

.intro-content h3 {
    text-align: center;
    font-family: "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    font-size: 24px;
    padding-top: 15px;
    line-height: 1.8em;
    letter-spacing: 0.4em;
    text-shadow: 4px 5px 5px #d9eab7;
    margin: auto;
}
.svg_wrap {
    position: relative;
    margin: 100px 0 100px 0;
}
.svg_wrap svg{
    display: block;
    margin: auto;
    width: 650px;
    height: 487px;
}





#owner_wrap {
	fill: #F7E7CE;
}
#owner_wrap:hover {
	fill: #F7E7CE;
}

.owner_content_wrap {
	background-color: #F7E7CE;	
}
.user_content_wrap {
	margin-top: 50px;
	background-color: #DBEFFC;	
}
.content_head {
	vertical-align: middle;
}
.content_head h4{
	line-height: 60px;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content_body {
	border-left: dotted 2px #666666;
}


#arrow_wrap {
    margin: 100px 0 0 0;
}

#arrow_wrap svg {
    display: block;
    margin: auto;	
}
.logo_body {
    position: relative;
    margin: 100px 0 100px 0;
}
.logo_body svg{
    display: block;
    margin: auto;
}
.about_droview h5 {
    color: #39F;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.about_droview p {
    line-height: 160%;
    font-size: 14px;
}


.title_label {
	width: 100%;
	height: 75px;
	background-color: black;
}
 
#path1 {
	transition: 3s;
	fill: white;
}
#path1:hover {
	fill: black;
}

#services {
	margin-bottom: 200px;
}
@media (max-width:768px) {
	.svg_wrap {margin: 50px 0 50px 0;}
	.svg_wrap svg {width: 325px; height: 244px;}
	.intro-content h3 {font-size: 16px;}

}

@media (max-width:992px) {
	.content_head h4{
		line-height: 20px;
	}
	.content_body {
		border-left: none;
		border-top: dotted 2px #666666;
	}
}

@media (min-width:1200px) {

}



/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {
	text-align: left;
	background-color: #181818;
	padding:50px 0 50px 0;
}


.footer h5 {
	color: #fff;
}
.footer h5 {
	margin-bottom: 20px;
}
.footer p {
	color: rgba(255, 255, 255, 0.25);
	font-size:12px;
	line-height:14px;
}
.footer a {
	color: rgba(255, 255, 255, 0.50);
}
.footer a:hover {
	color: #e84545;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	border: none;
	font-size: 17px;
	letter-spacing:20px;
	color: rgba(255, 255, 255, 0.25);
}
.footer .fa-heart {
	color: #e84545;
	font-size: 11px;
	margin: 0 2px;
}

.timeline{list-style:none;padding:0;position:relative}
.timeline:before{top:0;bottom:0;position:absolute;content:"";width:2px;background-color:#f1f1f1;left:40px;margin-left:-1.5px}
.timeline>li{margin-bottom:50px;position:relative;min-height:50px}
.timeline>li:before,.timeline>li:after{content:" ";display:table}
.timeline>li:after{clear:both}
.timeline>li .timeline-panel{width:100%;float:right;padding:0 20px 0 120px;position:relative;text-align:left}
.timeline>li .timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}
.timeline>li .timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}
.timeline>li .timeline-image{
	left:0;
	margin-left:0;
	width:100px;
	height:100px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:7px solid #f1f1f1;
	text-align:center;
	overflow: hidden;
	cursor: pointer;
}
.timeline>li .timeline-image:hover {
	border:7px solid #616161;
}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:14px}
.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 20px 0 120px}
.timeline>li.timeline-inverted>.timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}
.timeline>li.timeline-inverted>.timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}
.timeline>li:last-child{margin-bottom:0}
.timeline .timeline-heading h4{margin-top:0;color:inherit}
.timeline .timeline-heading h4.subheading{text-transform:none}
.timeline .timeline-body>p,.timeline .timeline-body>ul{margin-bottom:0}
.timeline>li .timeline-image video{
	position: absolute;
	height:86px;
	top: 0;
	left: -50px;
}

@media (min-width:768px) {
	.timeline:before{left:50%}
	.timeline>li{margin-bottom:100px;min-height:100px}
	.timeline>li .timeline-panel{width:41%;float:left;padding:0 20px 20px 30px;text-align:right}
	.timeline>li .timeline-image {width:150px;height:150px;left:50%;margin-left:-75px;}
	.timeline>li .timeline-image h4{font-size:13px;margin-top:16px;line-height:18px}
	.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 30px 20px 20px}
	.timeline>li .timeline-image video{
		height:136px;
	}
}
@media (min-width:992px) {
	.timeline>li{min-height:150px}
	.timeline>li .timeline-panel{padding:0 20px 20px}
	.timeline>li .timeline-image{width:170px;height:170px;margin-left:-85px}
	.timeline>li .timeline-image h4{font-size:18px;margin-top:30px;line-height:26px}
	.timeline>li.timeline-inverted>.timeline-panel{padding:0 20px 20px}
	.timeline>li .timeline-image video{
		height:156px;
	}
}
@media (min-width:1200px) {
	.timeline>li {min-height:170px}
	.timeline>li .timeline-panel {padding:0 20px 20px 100px}
	.timeline>li .timeline-image {width:200px;height:200px;margin-left:-100px}
	.timeline>li .timeline-image h4 {margin-top:40px}
	.timeline>li.timeline-inverted>.timeline-panel {padding:0 100px 20px 20px}
	.timeline>li .timeline-image video{
		height:186px;
	}
}

.service-heading{margin:15px 0;text-transform:none}
.section-subheading{font-size:16px;font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:none;font-style:italic;font-weight:400;margin-bottom:75px}
.text-primary{color:#E5EECE}


