.alert-wrap{
  position: fixed;
  top: 75px;
  right: 10px;
  z-index: 1000;

  .custom-alert{
    width: 400px;
    background: #FFFFFF;
    border: 2px solid;
    border-radius: 4px;
    position: relative;

    .btn-close {
      position: absolute;
      top: 8px;
      right: 10px;
      cursor: pointer;
      font-size: 20px;
      height: 16px;
      width: 16px;
      line-height: 16px;
      text-align: center;
    }

    p {
      &.alert-title{
        font-size: 14px;
        font-weight: bold;
      }

      &.alert-detail{
        font-size: 12px;
      }
    }

    &.alert-success{
      border-color: #4A90E2;

      p { color: #4A90E2; }
      .btn-close { color: #4A90E2; }

      &:before{
        content:"";
        background-image:url(/img/icon/icon-success.svg);
        width: 28px;
        height: 28px;
        position: absolute;
        top: -14px;
        left: -14px;
      }
    }

    &.alert-danger{
      border-color: #DA4453;

      p {
        color: #DA4453;
      }
      .btn-close { color: #DA4453; }

      &:before{
        content:"";
        background-image:url(/img/icon/icon-danger.svg);
        width: 28px;
        height: 28px;
        position: absolute;
        top: -14px;
        left: -14px;
      }
    }
  }
}
