.date-wrap {
    height: 50px;
    display: flex;
}

.timetable-wrap {
	height: 400px;
    display: flex;
    overflow-y: scroll;
}

.btn-date {
	position: absolute;
	top: 20px;
	height: 450px;
	width: 35px;
	border: 0;
	border-radius: 4px;

	&::after{
		content: "\f04b";
		font-family: FontAwesome;
		position: absolute;
		top: 210px;
	}

	&.back {
		left: 10px;

		&::after{
		    left: 11px;
		    transform: rotate(180deg);
		}
	},
	&.next {
		right: 10px;

		&::after{
		    right: 11px;

		}
	}
}

.date{
	border-radius: 4px;
	height: 36px;
	margin-bottom: 10px;

	p {
		text-align:center;
		padding-top: 8px;
	}
}

.weekday{
	background-color: #D8D8D8;

	p{
		color:#000000;
	}

	&.active{
		position: relative;

		p:before{
			content: "";
			display: block;
			background-color: #9B9B9B;
			border-radius: 4px 4px 0 0;
			height: 5px;
			width: 100%;
			position: absolute;
		    right: 0px;
    		top: 0px;			
		}
	}
}

.saturday{
	background-color: #9BD7EC;

	p{
		color:#005BC5;
	}

	&.active{
		position: relative;
		
		p:before{
			content: "";
			display: block;
			background-color: #4A90E2;
			border-radius: 4px 4px 0 0;
			height: 5px;
			width: 100%;
			position: absolute;
		    right: 0px;
    		top: 0px;			
		}
	}
}

.sunday{
	background-color: #FEDEE2;
	margin-right: 0;

	p{
		color:#CF0000;
	}

	&.active{
		position: relative;
		
		p:before{
			content: "";
			display: block;
			background-color: #D0021B;
			border-radius: 4px 4px 0 0;
			height: 5px;
			width: 100%;
			position: absolute;
		    right: 0px;
    		top: 0px;			
		}
	}
}

.rsv{
	border: solid #979797 1px;
	border-radius: 4px;
	height: 34px;
	width: 100%;
	margin-bottom: 5px;

	p {
		text-align:center;
		margin-top: 5px;
	}

	&.rsv-close{
		background-color: #FFF;
		p { color: #AAB2BD; }
	}

	&.rsv-open{
		background-color: #37BC9B;
		p { color: #FFF; }
	}

	&.rsv-reserved{
		background-color: #AAB2BD;
		p { color: #FFF; }
	}

	&.isFetching{
		position: relative;

		p:after{
			content: "\f110";
			font-family: FontAwesome;
			position: absolute;
		    right: 8px;
    		top: 6px;
    		animation: rotate 2s linear infinite;		
		}
	}
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } 
}